<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Classes</h5>
            <button type="button" class="close" aria-label="Close"  data-ng-click="cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <form name="myForm">
                        <label> School: </label><br>
                        <select class="form-control" ng-model="schoolList"> <!--  ng-value="active.schoolName" -->
                            <option value="" hidden>Select School Name</option>
                            <option ng-repeat="school in schools" value="{{school.name}}">{{school.name}}</option>        
                        </select>
                    </form>
                </div> <!-- ./content --> 
                <div class="school-section" ng-show="schoolList"> 
                    <form name="classForm" novalidate ng-submit="addClass()"> 
                        <table class="table table-striped table-borderless">
                            <thead>
                                <tr class="" style="width:100%">
                                    <th class="col-md-2 col-3" style="width: 20%;" >Section</th>
                                    <th class="col-md-6 col-5"  style="width: 50%;"  >Class Name</th>
                                    <th class="col-md-4 col-4" style="width: 30%;"  >Grade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" data-ng-repeat="class in classes | schoolName:schoolList track by class.className" ng-init="newClassRecord.schoolName=schoolList" >
                                    <td class="col-md-2 col-3" style="width: 20%;"> {{class.sectionName}} </td>
                                    <td class="col-md-6 col-5" style="width: 50%;"> {{class.className}} </td>
                                    <td class=" col-md-4 col-4" style="width: 30%;" > {{class.grade}} <a class="delete-record col-md-2 col-6" href="#" data-ng-click="deleteClass(class)"> <i class="fa fa-trash"></i> </a></td>
                                </tr>
                                <tr class="">
                                    <td class="col-md-2 col-3" style="width: 20%;" >
                                        <input class="form-control" name="sectionname" type="text" limit-to="3" data-ng-model="newClassRecord.sectionName" data-ng-required="true">
                                        <small style="color:#999">less than 3 characters</small>
                                    </td>
                                    <td class="col-md-6 col-5" style="width: 50%;" >
                                        <input class="form-control" type="text" name="classname" limit-to="40" data-ng-model="newClassRecord.className" data-ng-required="true">
                                        <small style="color:#999">less than 40 characters</small>
                                    </td>
                                    <td class=" col-md-4 col-4" style="width: 30%;">
                                        <input class="col-md-10 form-control col-6"  style="width: 70%; float: left;" name="grade"  type="text" allow-numbers-only data-ng-model="newClassRecord.grade" data-ng-required="true">
                                        <a class="delete-record col-md-2 col-6"  style="width: 20%;" href="#" data-ng-click="resetValues(newClassRecord)" > <i class="fa fa-trash"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button style="background:none;border:0" type="submit" class="add-record" data-ng-disabled="classForm.$invalid" >
                            <i class="fa fa-plus"></i>
                            Add Class 
                        </button>
                        <div class="modal-footer">
                            <button type="button" class="btn text-color" ng-click="cancel()">cancel</button> 
                            <button type="button" class="btn text-color" ng-click="addClass()" data-ng-disabled="classForm.classname.$invalid">Done</button>
                        </div>
                    </form>
                </div>
            </div> <!-- ./modal-body -->
        </div> <!-- ./modal-content -->
    </div> <!-- ./modal-dialog -->
</div>
