<!-- Modal for Delete -->
<div class="modal fade" id="deleteRecord" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Class</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <strong style="color: red"> 
                Are You Sure To Delete This Record ?
            </strong>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary yes" data-dismiss="modal" ng-click="confirmDeleteClass()" >Yes</button>
            <button type="button" class="btn btn-secondary no" data-dismiss="modal">No</button>
        </div>
    </div>
    </div>
</div>