<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Classes</h5>
            <button type="button" class="close" aria-label="Close" data-ng-click="cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <form name="myForm">
                        <label> School: </label><br>
                        <select class="form-control" ng-model="schoolList" >   
                            <option value="" hidden>Select School Name</option>
                            <option ng-repeat="school in schools" value="{{school.name}}">{{school.name}}</option>        
                        </select>
                    </form>
                </div> <!-- ./content -->
                <div class="school-section" ng-show="schoolList"> 
                    <form action="" name="classForm" novalidate>
                        <table class="table table-striped table-borderless">
                            <thead>
                                <tr class="row">
                                    <th class="col-md-2 col-3" scope="col">Section</th>
                                    <th class="col-md-6 col-5" scope="col">Class Name</th>
                                    <th class="col-md-4 col-4" scope="col">Grade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="row" ng-repeat="class in classes | schoolName:schoolList track by class.className " ng-class="active.sectionName === class.sectionName ? 'activeItem' : ''">
                                    <td class="col-md-2 col-3"><input class="form-control" name="sectionname" type="text" limit-to="3" ng-model="class.sectionName"><small style="color:#999">less than 3 characters</small></td>
                                    <td class="col-md-6 col-5"> <input class="form-control" name="classname" type="text" limit-to="40" ng-model="class.className" ><small style="color:#999">less than 40 characters</small></td>
                                    <td class="row col-md-4 col-4"> 
                                        <!-- <select name="" id="" class="col-md-10 col-6 form-control">
                                            <option ng-repeat="gradeItem in grades" value="{{gradeItem}}" ng-init="class.grade=gradeItem">{{gradeItem}}</option> {{gradeItem}}  
                                        </select> -->
                                        <input class="col-md-10 col-6 form-control" name="grade" type="text" ng-model="class.grade"> 
                                        <a class="delete-record col-md-2 col-6" href="#" data-ng-click="deleteClass(class)"> <i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                <tr class="row">
                                    <td class="col-md-2 col-3">
                                        <input class="form-control" name="sectionname" type="text" limit-to="3" data-ng-model="newClassRecord.sectionName" data-ng-required="true">
                                        <small style="color:#999">less than 3 characters</small>
                                    </td>
                                    <td class="col-md-6 col-5">
                                        <input class="form-control" name="classname" type="text" limit-to="40" data-ng-model="newClassRecord.className"  data-ng-required="true">
                                        <small style="color:#999">less than 40 characters</small>
                                    </td>
                                    <td class="row col-md-4 col-4">
                                        <input class="col-md-10 col-6 form-control" name="grade" type="text" allow-numbers-only  data-ng-model="newClassRecord.grade" data-ng-required="true" >
                                        <a class="delete-record col-md-2 col-6" href="#" data-ng-click="resetValues(newClassRecord)"> <i class="fa fa-trash"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button style="background:none;border:0" type="submit" class="add-record" data-ng-disabled="classForm.$invalid" ng-click="addClass()">
                            <i class="fa fa-plus"></i>
                            Add Class 
                        </button>
                        <div class="modal-footer">
                            <button type="button" class="btn text-color" data-ng-click="cancel()">Cancel</button>
                            <button type="button" class="btn text-color" data-dismiss="modal" data-ng-disabled="classForm.classname.$invalid" >Done</button>
                        </div>
                    </form>
                </div>
            </div> <!-- ./modal-body -->
        </div> <!-- ./modal-content -->
    </div> <!-- ./modal-dialog -->
</div> <!-- ./modal -->