 <header class="header">
    <div class="container">
        <div class="top-layer">
            <div class="row">
                <div class="col-md-3 col-12">
                    <div class="logo">
                        <img src="images/logo.png" alt="logo image">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <ul class="top-layer-lists">
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Explore</a></li>
                        <li><a href="#">My Contents</a></li>
                        <li><a href="#">My Pins</a></li>
                        <li><a href="#" class="create"  data-toggle="modal" data-target="#addModal"> <i class="fa fa-crosshairs"></i> Create</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-12">
                    <ul class="right-lists">
                        <li><a href="#"><i class="fa fa-bars"></i></a></li>
                        <li><a href="#"><img src="images/user.png" alt="user"></a></li>
                    </ul>
                </div>
            </div> <!-- ./row -->
        </div> <!-- ./top-layer -->
        <div class="middle-layer">
            <h2 class="box-overlay title"><span>Creative Math Classes Groups</span></h2>
            <p class="box-overlay desc lead">
                <span>This description of creative math classes groups This description of  creative math <br> classes groups</span>
            </p>
        </div> <!-- ./middle-layer -->
        <div class="bottom-layer">
            <ul class="bottom-layer-lists">
                <li>
                    <a href="#"> <i class="fa fa-crosshairs"></i> <span> Default Theme </span> </a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-crosshairs"></i> <span> 32 Classes </span> </a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-crosshairs"></i> <span> 12 Teachers </span> </a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-crosshairs"></i> <span> 4 Students </span> </a>
                </li>
            </ul>
        </div> <!-- ./bottom-layer -->
    </div> <!-- ./container -->
</header> <!-- ./header -->